.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms linear, visibility 250ms linear;
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition: transform 500ms, opacity 500ms;

  max-height: 609px;
  border-radius: 4px;
  background-color: var(--main-title-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 40px;

  @media screen and (min-width: 1200px) {
    width: 528px;
    height: 581px;
  }
  @media screen and (max-width: 1199.98px) {
    width: 450px;
  }
  @media screen and (max-width: 449.98px) {
    width: 100vw;
  }
}
.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translateX(-50%) translateY(-70%);
}
.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background: var(--main-title-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;

  &:hover,
  &:focus {
    fill: var(--main-logo-button-color);
  }
}
/* Modal Form */
.modal-form__group {
  margin-bottom: 20px;
}
.modal__label {
  display: block;
  text-align: center;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);

  @media screen and (min-width: 1200px) {
    line-height: 1.15;
  }
}
.modal-form__label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  margin-bottom: 4px;
}
.modal-form-wrapper {
  position: relative;
  margin-bottom: 10px;
}
.modal-form-wrapper__field {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  padding-right: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    outline: none;
    border: 1px solid var(--main-logo-button-color);
  }
}

.modal-form-wrapper__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-wrapper__field:focus + .modal-form-wrapper__icon {
  fill: var(--main-logo-button-color);
}
/* message */
.modal-form-message {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  font-size: 12px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;

  &:focus {
    border: 1px solid var(--main-logo-button-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    outline: none;
  }
}
.modal-form__agreement {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  margin-bottom: 30px;
}
.modal-form__agreement--description {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  user-select: none;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71;
  }
}
.modal-form__agreement--link {
  color: var(--main-logo-button-color);
  text-underline-offset: 4px;
}
.modal-form__checkbox {
  align-self: center;
  appearance: none;
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-text-color);
  border-radius: 2px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 0;
  user-select: none;
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='9' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E%0A");
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:checked {
    background-color: var(--main-logo-button-color);
    background-size: auto;
    border: 2px solid transparent;
  }
}
