@mixin flex($dsp: false, $jc: false, $ai: false, $fw: false) {
  @if $dsp {
    display: $dsp;
  }
  @if $jc {
    justify-content: $jc;
  }
  @if $ai {
    align-items: $ai;
  }
  @if $fw {
    flex-wrap: $fw;
  }
}
