:root {
  --main-title-color: #ffffff;
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --main-logo-button-color: #2196f3;
  --main-background-color: #2f303a;
  --secondary-background-color: #f5f4fa;
  --border-color: #eeeeee;
  --main-icons-color: #afb1b8;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}
